@model KundAdminsGranssnitt.Models.VisningsSchema
    <html>

    <head>
     
    </head>


    <body>

        <form>
            <label for="TitelLista">Välj en titel:</label>
            <select id="TitelLista" name="TitelLista">
                @foreach (var TitelLista in Model.TitelLista)
                {
                    <option value="@TitelLista.Titel">@TitelLista.Titel</option>
                }

            </select>
            <input type="submit">
        </form>

    </body>


    </html>