@model KundAdminsGranssnitt.Models.VisningsSchemaModel

<html>
<head>
  
</head>


<body>
   
    

    <form action="/action_page.php">
        <label for="Salonger">Välj en salong</label>
        <select id="Salonger" name="Salonger">
            @foreach (var Salong in Model.Salong)
            {
                <option value="@Salong.Namn">@Salong.Namn</option>
            }
        </select>

        <select id="Filmer" name="Filmer">
            @foreach (var Titel in Model.Titel)
            {
                <option value="@Titel.Titel">@Titel.Titel</option>
            }
        </select>
        <input id="starttid" type="datetime-local" name="Datum" />
        <input type="submit" >
    </form>






</body>



</html>

