@model KundAdminsGranssnitt.Models.VisningsSchemaModel

<head>

</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.Titel, new SelectList(Model.Film, "Titel", "Titel"), "Select")
        @Html.DropDownListFor(m => m.Namn, new SelectList(Model.Salong, "Namn", "Namn"), "Select")
        <input id="starttid" type="datetime-local" name="Datum" />
        <input type="submit" />

    }
</body>

